page-home {

.center {
  	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 170px;
	width: 170px;
}
.center2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-transform: capitalize;
}

.center3 {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}
}
